<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href='/static/style.css'>
    </head>
    <body>
        <div id="container1">
            <form method="post">
                <label for="uname">NAME</label>
                <input type="text" placeholder="Name: " name="uname" id="uname" required>
                <label for="email">EMAIL ADDRESS</label>
                <input type="email" placeholder="Email address" name="email" id="email" required>
                <label for="phone_number">PHONE NUMBER</label>
                <input type="text" name="phone_number" id="phone_number" required>
                <label for="prayer_request">PRAYER REQUEST</label>
                <textarea name="prayer_request" id="prayer_request" required></textarea>
                <input type="submit">
            </form>
        </div>
    </body>
</html>